
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(62,91,240);
background: radial-gradient(circle, rgba(62,91,240,1) 0%, rgba(106,59,125,1) 100%);}

.navbar-custom {
    background-color: rgba(197, 238, 224, 0.5);
}

.jumbotron {
    background-color: rgba(11, 87, 62, 0.671);
    color: #fff; 
    text-align: center; 
    padding: 30px; 
    border-radius: 12px;
}

.btn-lg {
    padding: 20px 40px; 
    font-size: 24px;
}


h2 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}


.btn-primary {
    background-color: #007bff;
    color: #fff;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


#resultadoBusca {
    margin-top: 20px;
}


.error-message {
    color: #ff0000;
}

.footer {
    margin-top: auto; 
}

